.body-categories{
  width: 100%;
  height: 77.7vh;
  font-family: "Source Sans Pro";
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  background-image: url(../../assets/img/imgFundo3.png) !important;
  background-size: cover;
}

.animate__animated.animate__slideInLeft {
  --animate-duration: 2s;
}
.animate__animated.animate__fadeInLeft {
  --animate-duration: 0.60s;
}
.page {
  font-family: Inter-SemiBold;
  margin: 0;
  height: 80vh;
  display: flex;  
  justify-content: center;
  align-items: center;
  background-image: url(../../assets/img/imgFundo3.png) !important;
  user-select: none; 
  margin-bottom: 38px;
}

.containerCategories {
  font-family: Inter-Bold;
}

.titleContainerCategories {
  color: #655A78;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 27px;
  font-family: Inter-Bold;
  margin-bottom: 50px;
  text-align: center;
}

.grid-categories {
  color: #655A78;
  display: flex;
  justify-content: center;
}

.boxCategories {
  background: #FAFAFA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.20);
  border-radius: 10px;
  text-align: center;
}

.p-boxCategories{
  font-size: 12px !important;
  font-family: Inter-Regular;
  margin-top: -18px;
}

.imgBoxCategories {
  margin-top: 15px;
}

.boxSelected {
  background-color: #D1BAF9;
}

.boxCategories:hover {
  cursor: pointer;
  transition: 400ms ;
  background-color: #D1BAF9;
}

/* categories when button clicked */

.container-categories-side{
  margin-right: 10%;
}

@media screen and (max-width: 600px) {
  .page {
    flex-direction: column;
    background-color: cadetblue !important;
    overflow-y: scroll;

  }
  .resultCategories {
    width: 390px;
    margin-bottom: 30px;
    align-self: center;
    background-color: chartreuse !important;
  }

  .containerCategories {
    display: flex;
    flex-direction: row-reverse;
    overflow-y: scroll;
  }
}

@media screen and (min-width: 600px) and (max-width: 960px) {
  .page {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    
  }
  .container-categories-search {
    width: 300px !important;
    margin-left: 20px !important;
  }
}

@media screen and (min-width: 960px) and (max-width: 1264px) {
  .containerCategories {
    width: 90%;
    margin:20px
  }
  .container-categories-search {
    width: 300px !important;
    margin-left: 20px !important;
  }
}