.trigger-button {
  background: transparent;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  width: 100px;
}

.trigger-button:hover {
  color: #655A78; transition: 0.60s !important;
}

.dropdown-Item2:hover {
  background-color: #fff !important;
  color: #8058C4 !important;
  border-radius: 10px;
}

.dropdown-Item1 {
  text-align: center;
  color: #fff !important;
}

.dropdown-Item2 {
  text-align: center;
  color: #fff !important;
}

.img-dropdown {
  text-align: center;
  outline: none;
  border: none !important;
  background-color: transparent;
}

.dropdown-wrapper {
  position: absolute;
  width: 10px;
  top: 20px;
  right: 48%;
  align-self: center;
  margin-top: 8px;
  margin-right: 45px;
}

.dropdown-wrapper .dropdown {
  background: #fff;
  position: absolute;
  font-family: "Open Sans";
  font-size: 22px;
  display: flex;
  align-items: center;
  z-index: 1;
  display: none;

}

#showDropdown {
  background-color: #A58AD2 !important ;
  border: none;
  width: 300px !important;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 20px 20px;
  color: #fff;
  list-style: none;
  margin: 0;
  font-size: 18px;
  overflow: hidden;
  height: 0px;
  transition: height 0.4s ease;
  z-index: 1;
}

#showDropdown.active {
  height: 230px;
  padding: 20px;
}

.li-item {
  margin-bottom: 2px;
}

.li-item:hover {
  font-size: 19px;
  cursor: pointer;
  z-index: 1;
}

@media screen and (min-width: 600px) and (max-width: 960px) { 
  .trigger-button {
    display: none;
    visibility: hidden;
  }
}

@media screen and (max-width: 600px) {
  .trigger-button {
    display: none;
    visibility: hidden;
  }
}