.trigger-button {
  background: transparent;
  color: #fff;
  font-size: 18px;
  border: none;
  border-radius: 10px;
}

.trigger-button:hover {
  color: #655A78; transition: 0.60s !important;
}

.dropdown-item1 {
  text-align: center;
  color: #fff;
  margin-bottom: 2%;
  font-size: 20px;
}

.dropdown-item2 {
  text-align: center;
  margin-bottom: 1%;
}

.dropdown-item2:hover {
  background-color: #D0C0EB;
  color: #8058C4 !important;
  border-radius: 10px;
}

.img-dropdown {
  text-align: center;
  outline: none;
  border: none !important;
  background-color: transparent;
}

#my-profile-label{
  cursor: pointer;
}

/* .dropdown-wrapper .dropdown {
  background: #fff;
  position: absolute;
  font-size: 22px;
  display: flex;
  align-items: center;
  z-index: 1;
  display: none;
} */

#show-dropdown {
  background-color: #A58AD2 !important ;
  border: none;
  width: 300px !important;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 20px 20px;
  color: #fff;
  list-style: none;
  font-size: 18px;
  overflow: hidden;
  height: 0px;
  transition: height 0.4s ease;
  z-index: 1;
  position: absolute;
  top: 8%;
  right: 8%;
  align-self: center;
}

#show-dropdown.active {
  height: 235px;
  padding: 20px;
  width: 200px;
}

.li-item {
  margin-bottom: 2px;
}

.li-item:hover {
  font-size: 19px;
  cursor: pointer;
  z-index: 1;
}

.link-profile {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.link-profile:hover {
  text-decoration: none;
  color: #8058C4 !important;
}

@media screen and (min-width: 600px) and (max-width: 960px) { 
  .trigger-button {
    display: none;
    visibility: hidden;
  }
}

@media screen and (max-width: 600px) {
  .trigger-button {
    display: none;
    visibility: hidden;
  }
}