
.trigger-button {
  background: transparent;
  color: #A58AD2;
  font-size: 18px;
  border: none;
  border-radius: 10px;
}

.trigger-button:hover {
  color: #655A78; transition: 0.40s !important;
}

.dropdown-fullname {
  text-align: center;
  color: #A58AD2 !important;
  margin-bottom: 8%;
  font-size: 20px;
  margin-bottom: 50px;
}

.line {
  background-color: #d4d4d4;
  height: 0.01pc;
  opacity: 30%;
  margin: 5px;
}

.img-dropdown {
  text-align: center;
  outline: none;
  border: none !important;
  background-color: transparent;
}

#my-profile-label{
  cursor: pointer;
  width: 120px;
  height: 40px;
  border-radius: 100px;
  color: #fff;
  font-size: 18px;
  background-color: #A58AD2;
  border: none;
  font-family: Inter-Regular;
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
}

#my-profile-label:hover {
  cursor: pointer;
  background-color: #8c6fb9;
  color: #fff;
  font-size: 18px;
  transition: 0.5s;
}

#show-dropdown {
  background-color: #faf8fc !important ;
  border: none;
  width: 270px !important;
  box-shadow: 1px 20px 20px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 8px 8px;
  color: #fff;
  list-style: none;
  font-size: 18px;
  overflow: hidden;
  height: 0px;
  transition: height 0.4s ease;
  z-index: 1;
  position: absolute;
  top: 8%;
  right: 8%;
  margin-top: 20px;
}

#show-dropdown.active {
  height: 280px;
  padding: 20px;
  width: 270px !important;
}

.li-item {
  margin-bottom: 2px;
}

.li-item:hover {
  font-size: 19px;
  cursor: pointer;
  z-index: 1;
}

.link-profile {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.link-profile:hover{
  color: #A58AD2;
}

.dropdown-item {
  text-align: center;
  margin-bottom: 1%;
}

@media screen and (min-width: 600px) and (max-width: 960px) { 
  .trigger-button {
    display: none;
    visibility: hidden;
  }
}

@media screen and (max-width: 600px) {
  .trigger-button {
    display: none;
    visibility: hidden;
  }
}