@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  --orange: #c339ff;
  --pink: #6710ff;
  --green: #D1BAF9;
  --red: #ff3939;
  --light-green: #edfff6;
  --light-orange: #fff0e8;
  --accent-color1: #ffffff;
  --accent-color2: #292c3d;
  --accent-color3: #cccccc;
  --accent-color4: #000;

  --profile: #3d2158;
  --profile2: #655a784b;
  --profile3: #99aef9;
  --titleprofile1: rgb(161, 161, 161);

  --boxLogin: #7f66a94b;
  --boxLoginshadow: #401f6f73;
  --titleLogin:#fff;
  --inputLogin:#593f6e;
  --iconLogin:#fff;
  --borderLogin:#262030;
  --shadowInput:#272037;
  --btnLogin:#714b98;

  --card-color: #3a0e53;
  --background: #160224;
  --font-family: "Inter", sans-serif;

  --about:#341b55;
  --btnaAbout:#6753ae;

  --background-chat: #655a784b;
  --box-chats: #11041a;
  --scrollbar-chat: #11041a;
  --lines-chat: #655a784b;
  --left-message: #2f143f;
  --box-shadow-left-message: #2f143fe5;
}

[data-theme="light"] {
  --background: #fff;
  --accent-color1: #000000;
  --accent-color2:#ffffff;
  --accent-color3: #777777;
  --card-color: #eeeeee;
  --accent-color5: #655A78;
  
  --profile: #A58AD2;
  --profile2: #fff;
  --profile3: rgb(0, 0, 0);
  --titleprofile1: #000000;

  --boxLogin: #F5F0FE;
  --boxLoginshadow: #c8bae5;
  --titleLogin:#3E3848;
  --inputLogin:#fff;
  --iconLogin:#655A78;
  --borderLogin:#F5F0FE;
  --shadowInput:#c8bae5;
  --btnLogin:#9472ce;

  --about:#dddddd;
  --btnaAbout:#A16FF7;

  --background-chat: #FBFBFC;
  --box-chats: #f8f8f8;
  --scrollbar-chat: #FBFBFC;
  --lines-chat: rgb(230, 230, 230);
  --left-message: #F8F8F8;
  --box-shadow-left-message: #dadada;
}

[data-theme="dark"] {
  --accent-color6: #D1BAF9;
  --accent-color7: #655a784b;
  --accent-color8: #16022485;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.app-container {
  background-color: var(--background);
  font-family: var(--font-family);
  overflow-x: hidden;
  transition: 0.5s ease-in-out;
  @media screen and (min-width: 280px) and (max-width: 1080px) {
    padding: 0;
  }
}

@media only screen and (min-device-width: 280px) and (max-device-width: 1080px) {
  .app-container::-webkit-scrollbar {
    display: none;
  }
}

// ::-webkit-scrollbar {
//   background-color: #111111;
//   width: 0.2rem;
// }

::-webkit-scrollbar-thumb {
  background-color: var(--orange);
}