.resultCategories {
  background-color: #FAFAFA;
  text-align: center;
  border-radius: 30px;
  height: 500px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  color: #655A78;
  margin-top: 80px;
  margin-bottom: 30px;
  padding: 20px;
  font-family: Inter-Regular;
  margin-right: 100px;
}

/* .resultCategories {
  background: #fff;
  position: absolute;
  font-family: "Open Sans";
  font-size: 22px;
  display: flex;
  align-items: center;
  z-index: 1;
  display: none;
} */

/* .resultCategories:hover {
  transition: 10s !important;
  width: 100px;
} */

.searchCategories {
  margin: 20px;
}

.inputSearch {
  background-color: #fff;
  height: 60px;
  width: 250px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 10px;
  border-radius: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  outline: none;
  cursor: pointer;
  align-self: center;
}

.inputSearch::placeholder {
  text-align: left;
  color: #000000;
  font-size: 17px;
}

.buttonSearch {
  align-self: center;
  color: #655A78;
  border: none;
  height: 60px;
  width: 100px;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 20px;
  background-color: #A58AD2;
  border-radius: 15px;
  border: 3px solid #8058C4;
  color: #fff;
  font-family: Inter-Bold;
}

.buttonSearch:hover {
  background: #8058C4;
  border: 3px solid #8058C4;
  box-shadow: 0 2px 5px 0 rgba(102, 23, 117, 0.712);
}

.containerSearch {
  /* display: flex; */
  flex-direction: row;
}