.containerCategories {
  background-color: #fff;
  display: flex;
  margin: 50px;
  width: 60%;
}

.headerCategories {
  background-color: #A58AD2;
}

.buttonMessages {
  text-align: center;
  background-color: #D1BAF9;
  color: #655A78;
  border: none;
  border-radius: 16px;
  height: 40px;
  width: 140px;
  font-size: 18px !important;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}

.footerCategories {
  background-color: #A58AD2;
  flex-direction: row;
  height: 70px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.TextContainerCategories {
  color: #655A78;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.categories {
  color: #655A78;
  
} 

.boxCategories {
  background: #D9D9D9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.40);
  border-radius: 10px;
  margin: 10px;
  height: 100px;
  /* width: 140px !important; */
}

/* .imgBoxCategories {
  margin: 20px;
} */

.resultCategories {
  background-color: #D9D9D9;
  text-align: center;
  border-radius: 30px;
  height: 500px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  color: #655A78;
  width: 60%;
}

.searchCategories {
  margin: 20px;
}

.inputSearch {
  background-color: #fff;
  height: 60px;
  width: 250px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 10px;
  border-radius: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: none;
  outline: none;
  cursor: pointer;
  align-self: center;
}

.inputSearch::placeholder{
  text-align: left;
  color: #000000;
  font-size: 17px;
}

.buttonSearch{
  margin-top: 16px;
  align-self: center;
  background-color: #D1BAF9;
  color: #655A78;
  border: none;
  border-radius: 16px;
  height: 60px;
  width: 100px;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.containerSearch{
  display: flex;
  flex-direction: row;
}