[data-theme="light"] {
  .body-about {
    // background-image: url(../../../../components/assets/img/imgquemsomos.png) !important;
    background-size: cover;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

.body-about {
  width: 100%;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  // background-image: url(../../components/assets/img/imgquemsomos.png) !important;
  background-color: var(--background);
}

.about {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10%;
}

.about-text {
  max-width: 37rem;
}

.about-text .text-h1-about {
  font-size: 3.4rem;
  margin-bottom: 1rem;
  line-height: 4rem;
  font-family: Inter-SemiBold;
  color: var(--accent-color1);
}

.about-text p {
  color: #000;
  font-size: 1.2rem;
  font-family: Inter-Regular;
  line-height: 1.5rem;
  margin: 10px 0px 0px;
  color: var(--accent-color1);
}

.img-about {
  width: 550px;
  margin-left: 36px;
}

.image-container {
  text-align: center;
  position: relative;
  z-index: 10;

  .about-img {
    img {
      width: 550px;
    }
  }

  .ellipse-container {
    .ellipse {
      z-index: -1;
      position: absolute;
      height: 13rem;
      width: 13rem;
      filter: blur(120px);
    }

    .pink {
      top: 40%;
      right: 40%;

      background-color: var(--orange);
    }

    .orange {
      bottom: 40%;
      left: 40%;
      background-color: var(--pink);
    }
  }
}

/* ----------- about --------------- */
.container-about-text {
  padding: 10px 60px;
  width: 60%;
  margin: auto;
  /* margin-bottom: 0.4% ; */
}

.texts-about {
  padding: 20px 25px;
  background-color: var(--about);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.20);
  color: #000;
  ;
  border-radius: 20px;
  margin: auto;
  margin-bottom: 4%;
  font-family: Inter-Regular;
}

.div-btn-about {
  margin-bottom: 20px;
  margin-top: 4%;
}

.button-about a {
  background-color: var(--btnaAbout);
  padding: 13PX 35PX;
  border: none;
  text-decoration: var(--btnaAbout);
  color: #fff;
  border-radius: 15px;
  font-family: Inter-Medium;
  transition: all 0.5s;
}

.button-about a:hover {
  background-color: #8058C4;
  text-decoration: #8058C4;
  box-shadow: 0 5px 10px 0 #7E57C2;
}

.container-text p {
  color: #000;
  font-size: 1.1rem;
  font-family: Inter-Regular;
  line-height: 1.5rem;
  margin: 10px 0px 0px;
}

.texts-about .text-h1-about {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  line-height: 2rem;
  font-family: Inter-Regular;
  color: var(--accent-color1);


}

// ta pegando em todos os p dos modals
// p{
//   color: var(--accent-color1);
// }

/* ------------about-------------- */
/* --------------responsividade---------------- */

@media (max-width:965px) {
  .about {
    padding: 100px 2%;
    height: 70%;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    gap: 5rem;
  }

  .about-text .text-h1-about {
    font-size: 3rem;
  }

  .img-about {
    width: 70%;
  }

  .about-text {
    padding: 10px 7%;
  }

  .about-text p {
    color: #000;
    font-size: 1.3rem;
    font-family: Inter-Regular;
    line-height: 2rem;
    margin: 10px 0px 0px;
  }
}

/* ---------------------------- */
@media (max-width:785px) {
  .container-about-text {
    padding: 20px 2%;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    gap: 5rem;
  }

  .texts-about .text-h1-about {
    font-size: 1.5rem;
  }

}

@media (max-width:1282px) {
  .about {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0px 5%;
  }
}

/* --------------responsividade---------------- */