@font-face {
  font-family: 'Inter-Regular';
  src: url(../../assets/fonts/Inter-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Inter-Medium';
  src: url(../../assets/fonts/Inter-Medium.woff) format('woff');
}

@font-face {
  font-family: 'Inter-SemiBold';
  src: url(../../assets/fonts/Inter-SemiBold.woff) format('woff');
}

@font-face {
  font-family: 'Inter-Bold';
  src: url(../../assets/fonts/Inter-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Inter-Thin';
  src: url(../../assets/fonts/Inter-Thin.ttf) format('woff');
}

@font-face {
  font-family: 'Inter-Light';
  src: url(../../assets/fonts/Inter-Light.ttf) format('woff');
}

[data-theme="light"] {
  .categories {
    background-image: url(../../assets/img/imgFundo3.png) !important;
  }

  .container-categories-search {
    background-color: #fff;
  }

  .boxCategories {
    background-color: #fff !important;

    &:hover {
      background-color: #c8bae5 !important;
    }
  }

  h1 {
    color: #A58AD2;
  }
}

[data-theme="dark"] {

  p,
  .css-i4bv87-MuiSvgIcon-root,
  h1 {
    color: #fff;
  }

  .boxCategories:hover {
    background-color: #d1baf9bb !important;
  }
}

.categories {
  font-family: Inter-SemiBold !important;
  margin: 0;
  height: 88vh;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  background-size: cover;

  .average-rating {
    font-size: 22px;
    text-align: end !important;
  }

  .css-1tc5vhq-MuiGrid2-root {
    width: 1200px !important;
  }

  .animate__animated.animate__slideInLeft {
    --animate-duration: 2s;
  }

  .animate__animated.animate__fadeInLeft {
    --animate-duration: 0.60s;
  }

  .container-categories {
    margin-bottom: 10px;
  }

  h1 {
    font-size: 35px;
    font-family: Inter-Light !important;
    margin-bottom: 20px;
    text-align: center;
    line-height: 30px;
    letter-spacing: -2px;
  }

  Row {
    color: #655A78;
    display: flex;
    justify-content: center;
  }

  .boxCategories {
    background-color: var(--accent-color7);
    box-shadow: 0px 1px 14px rgb(33 37 41 / 18%);
    border-radius: 17px;
    text-align: center;
    color: var(--accent-color1);
    width: 187px;
    margin: 5px;
    height: 189px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &:hover {
      cursor: pointer;
      transition: 400ms;
    }
  }

  p {
    font-size: 14px;
    font-family: Inter-Regular;
  }

  p.title-category {
    color: #655A78;
    font-size: 20px;
    margin: 0;
    font-family: Inter-Regular;
  }

  img {
    margin-top: 15px;
    margin-bottom: 10px;
    width: 80px;
  }

  .boxSelected {
    background-color: #d1baf9bb !important;
  }

  .place-icon {
    color: #655A78 !important;
  }

  .tune-icon {
    width: 20px;
  }

  .btn-filter-workers {
    cursor: pointer;
    width: 90px;
    height: 35px;
    border-radius: 15px;
    color: #000;
    font-size: 18px;
    border: none;
    font-family: Inter-Regular;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-color6) !important;

    &:hover {
      cursor: pointer;
      background-color: #d1baf980 !important;
      transition: 0.3s;
    }
  }

  .btns-categories-search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
  }

  .refresh-icon {
    cursor: pointer;
    margin-right: 10px !important;

    &:active {
      cursor: wait;
    }
  }

  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 999px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 290px) and (max-width: 593px) {

    flex-direction: row;
    overflow-y: scroll;
    flex-direction: column;
    justify-content: flex-start;

    p.title-category {
      font-size: 18px;
    }

    .boxCategories {
      margin: 1px;
      width: 132px;
      height: 132px;
    }

    .row {
      margin: 6px;
    }

    h1 {
      font-size: 28px;
      margin: 14px;
      margin-top: 24px;
      margin-bottom: 24px;
      letter-spacing: -1px;
    }

    .container,
    .container-lg,
    .container-md,
    .container-sm {
      margin: 0;
    }

    img {
      width: 60px;
    }

    .container-categories-search {
      height: auto;
      margin-left: 0 !important;
      margin-top: 10px;
    }

    .list-users-category span {
      margin-top: 0;
    }

    .info-user {
      margin-bottom: 3% !important;
    }

    p {
      margin-bottom: 0;
    }

  }

  @media screen and (min-width: 600px) and (max-width: 1378px) {

    display: flex;
    align-content: center;

    p.title-category {
      font-size: 20px;
    }

    .boxCategories {
      margin: 1px;
      width: 152px;
      height: 146px;
    }

    h1 {
      font-size: 35px;
      margin-bottom: 40px;
    }

    .container,
    .container-lg,
    .container-md,
    .container-sm {
      margin: auto;
      max-width: 688px !important;
      margin-bottom: 33px !important;
    }

    img {
      width: 70px;
    }
  }

  @media screen and (min-width: 280px) and (max-width: 240px) {

    display: flex;
    align-content: center;

    p.title-category {
      font-size: 14px;
    }

    .boxCategories {
      margin: 1px;
      width: 95px;
      height: 95px;
    }

    .row {
      margin: 2px;
    }

    h1 {
      font-size: 20px;
    }

    .container,
    .container-lg,
    .container-md,
    .container-sm {
      margin: 0;
      width: 300px;
    }

    img {
      width: 40px;
      margin: 0;
      margin-top: 16px;
    }

    p {
      font-size: 10px !important;
    }
  }

  .button-refresh {
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:active {
      cursor: wait;
    }
  }

  .average-rating {
    justify-content: end;
    min-width: fit-content;
  }

  .form-select-filter {
    border-radius: 20px;
    cursor: pointer;
  }
}

.filterWorkers {

  p.title-category,
  p.info-user {
    font-family: Inter-Regular;
    font-size: 23px;
    margin: auto 0 auto;
    margin-right: 10px;
    color: var(--accent-color1);
    letter-spacing: -1px;
  }

  .container-categories-search {
    align-items: center;
    background-color: #fff !important;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    padding: 20px;
    align-content: flex-start;
    justify-content: center;
    flex-direction: column;
    height: 450px;
    justify-content: flex-start;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 22px;
    max-width: 310px !important;
    min-width: 330px;
    background-color: var(--accent-color7);
    margin-left: 90px;

    h1 {
      color: #655A78 !important;
      font-size: 25px;
      display: flex;
      justify-content: center;
      font-family: Inter-Regular;
      color: var(--accent-color6);
      letter-spacing: -1px;
    }
  }

  .list-users-category {
    overflow-y: scroll;
    height: 260px;

    span {
      font-family: Inter-Regular;
      margin-bottom: 0 !important;
      font-size: 19px;
    }

    &::-webkit-scrollbar {
      width: 0.3vw;
      border-radius: 5vw;
    }

    &::-webkit-scrollbar-button {
      height: 5px;
      border-radius: 5vw;
    }

    &::-webkit-scrollbar-track {
      background-color: var(--scrollbar-chat);
      border-radius: 5vw;
    }

    &::-webkit-scrollbar-thumb {
      border: 0.3vw solid var(--part1-profile);
      border-radius: 5vw;
    }
  }

  .info-user {
    display: flex;
    // max-width: 280px;
    // min-width: 280px;
    min-width: fit-content;
    align-items: center;
    cursor: pointer;
    padding: 0 10px;
    border-radius: 10px;
    background-color: var(--accent-color8);
    justify-content: space-between;

    &:hover {
      background-color: #dbc9fa79;
      color: #000;
      transition: 0.5s;
    }
  }

.info-user-nameimg{
  align-items: center;
  display: flex;
}

  img {
    width: 28%;
    height: auto;
    margin: 8% 4% 8% 0 !important;
  }
}