@font-face {
  font-family: 'Inter-Regular';
  src: url(../../assets/fonts/Inter-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Inter-Medium';
  src: url(../../assets/fonts/Inter-Medium.woff) format('woff');
}

@font-face {
  font-family: 'Inter-SemiBold';
  src: url(../../assets/fonts/Inter-SemiBold.woff) format('woff');
}

@font-face {
  font-family: 'Inter-Bold';
  src: url(../../assets/fonts/Inter-Bold.woff) format('woff');
}

[data-theme="light"] {
  .body-chat {
    margin: auto;
    background-image: url(../../assets/img/imgFundo3.png) !important;
    background-size: 100%;
  }
}

.body-chat {
  margin: auto;
}

.all-chat {
  display: flex;
  width: 100%;
  background-size: cover;
  margin: auto;
  background-color: var(--box-chats);
  padding: 20px;
  margin: auto auto 2% auto;
}

/* chat */

.container-chat {
  margin: 0 auto 0 0 !important;
  width: 70%;
  border-radius: 32px;
  min-height: 500px;
  max-height: 500px;
}

.header-chat {
  display: flex;
  border-radius: 32px 32px 0px 0px;
  padding: 10px;
  min-height: 78px;
  max-height: 78px;
  align-items: center;
}

#icon-individual-chat {
  width: 5.5%;
  height: 5.5%;
  margin-left: 4%;
}

#name-account {
  font-family: Inter-Medium;
  margin: auto 10px auto;
  font-size: 22px;
  color: var(--accent-color1);
}

.container-buttons-chat{
  margin-left: auto !important;
  display: flex;
}

#cancel-work-chat-button{
  height: 40px;
  border-radius: 14px;
  color: #fff;
  border-color: #596066;
  background-color: #596066;
  margin-bottom: 0;
}

#cancel-work-chat-button:hover{
  border-color: #4a5258;
  background-color: #4a5258;
  transition: 0.5s;
}

#close-work-chat-button {
  height: 40px;
  border-radius: 14px;
  color: #fff;
  border-color: #56a54f;
  background-color: #56a54f;
  margin-bottom: 0;
}

#close-work-chat-button:hover{
  border-color: #479b3f;
  background-color: #479b3f;
  transition: 0.5s;
}

#denounce-work-chat-button{
  height: 40px;
  border-radius: 14px;
  color: #fff;
  border-color: #bb3f3f;
  background-color: #bb3f3f;
  transition: 0.5s;
  margin-bottom: 0;
}

#denounce-work-chat-button:hover{
  border-color: #a82d2d;
  background-color: #a82d2d;
}

// #leave-avaliation:hover {
//   background-color: #ffd864;
//   transition: 0.5s;
// }

.messages-chat {
  padding: 30px 40px 20px 40px;
  font-family: Inter-Regular;
  font-size: 16px;
  min-height: 329px;
  max-height: 329px;
  overflow-y: scroll;
}

.messages-chat::-webkit-scrollbar {
  width: 0.9vw;
}

.messages-chat::-webkit-scrollbar-button {
  height: 5px;
}

.messages-chat::-webkit-scrollbar-track {
  background-color: var(--scrollbar-chat);
}

.messages-chat::-webkit-scrollbar-thumb {
  background-color: #aeb0b1;
  border: 0.3vw solid var(--scrollbar-chat);
  border-radius: 5vw;
}

#left-message {
  background-color: var(--left-message);
  max-width: 50%;
  border-radius: 15px 15px 15px 0px;
  padding: 10px 20px 10px 20px;
  width: fit-content;
  box-shadow: 0px 1px 3px var(--box-shadow-left-message);
  word-wrap: break-word;
  color: var(--accent-color1);
}

#right-message {
  background-color: #A58AD2;
  max-width: 50%;
  border-radius: 15px 0 15px 15px;
  padding: 10px 20px 10px 20px;
  width: fit-content;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  margin-left: auto;
  color: #fff;
  word-wrap: break-word;
}

.type-message-chat {
  padding: 20px;
  font-family: Inter-Regular;
  border-radius: 0 0 32px 32px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  border-top: 1px solid var(--lines-chat);
  display: flex;
  min-height: 93px;
  max-height: 93px;
}

.input-message-chat {
  border: 0;
  background-color: var(--background-chat);
  padding: 15px;
  border-radius: 10px;
  width: 91%;
  color: var(--accent-color1);
  // pointer-events: none;
}

#send-icon-chat {
  color: #F8F8F8;
  background-color: #A58AD2;
  border-radius: 30px;
  padding: 10px;
  font-size: 50px;
  transform: rotate(-20deg);
  margin-left: 1%;
  cursor: pointer;
}

#send-icon-chat:hover {
  transition: 0.5s;
  background-color: #655A78;
}

/* search users */

.box-search-chat {
  width: 30%;
  margin: auto;
  min-height: 500px;
  max-height: 500px;
  padding: 20px;
  border-right: 1px solid var(--lines-chat);
}

.container-box-search {
  display: flex;
  align-items: center;
}

#search-icon-chat {
  color: #655A78 !important;
}

.container-input {
  display: flex;
  background-color: var(--background-chat);
  height: 50px;
  border-radius: 15px;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.input-search-chat {
  background-color: transparent;
  border: none;
  outline: none;
  font-family: Inter-Regular;
  width: 89%;
  margin-left: 3%;
  color: var(--accent-color1);
}

.list-chat-profiles {
  margin-top: 10%;
  max-height: 390px;
  min-height: 390px;
  overflow-y: scroll;
}

.individual-chat-profile {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 6%;
  padding: 8px 8px 8px 12px;
  border-radius: 10px;
  background-color: var(--background-chat);
  border-left: 4px solid transparent;
  color: var(--accent-color1);
}

#icon-individual-chat-profile {
  width: 12%;
  height: 12%;
  margin-right: 3%;
}

#name-chat-profile {
  font-family: Inter-Regular;
  font-size: 18px;
  margin: auto 0 auto;
}

.individual-chat-profile:hover {
  border-left: 4px solid #A58AD2;
  color: var(--accent-color1);
  transition: 0.5s;
}

.chatSelected {
  background-color: var(--background-chat);
  color: var(--accent-color1);
  transition: 0.5s;
  border-left: 4px solid #A58AD2;
}

.list-chat-profiles::-webkit-scrollbar {
  width: 1vw;
}

.list-chat-profiles::-webkit-scrollbar-button {
  height: 0px;
}

.list-chat-profiles::-webkit-scrollbar-track {
  background-color: var(--scrollbar-chat);
}

.list-chat-profiles::-webkit-scrollbar-thumb {
  background-color: #aeb0b1;
  border: 0.3vw solid var(--scrollbar-chat);
  border-radius: 5vw;
}

/* chat null */

.all-chat-null {
  margin: 0 auto 0 0 !important;
  width: 70%;
  border-radius: 32px;
  min-height: 500px;
  max-height: 500px;
}

.container-chat-null {
  text-align: center;
  margin-top: 7%;
}

.h3-chat-null {
  color: #A58AD2;
}

.chat-null-image {
  width: 30%;
  height: 60%;
}

/* responsividade */

@media screen and (max-width: 600px) {
  .all-chat {
    flex-direction: column;
  }

  .box-search-chat {
    width: 50%;
    height: 400px;
    margin-bottom: 20px;
    padding: 10px;
  }
}

@media screen and (min-width: 600px) and (max-width: 960px) {
  .all-chat {
    flex-direction: column;
  }

  .box-search-chat {
    width: 50%;
    height: 400px;
    margin-bottom: 20px;
    padding: 10px;
  }
}

@media screen and (min-width: 960px) and (max-width: 1264px) {
  .all-chat {
    margin: 10px;
  }

  .box-search-chat {
    width: 50%;
    height: 400px;
    margin-bottom: 20px;
    padding: 10px;
    margin-right: 30px;
  }
}