[data-theme="light"] {
  .all-profile{
    background-image: url(../../assets/img/imgFundo3.png) !important;
  }
}

@font-face {
  font-family: 'Inter-Regular';
  src: url(../../assets/fonts/Inter-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Inter-Medium';
  src: url(../../assets/fonts/Inter-Medium.woff) format('woff');
}

@font-face {
  font-family: 'Inter-SemiBold';
  src: url(../../assets/fonts/Inter-SemiBold.woff) format('woff');
}

@font-face {
  font-family: 'Inter-Bold';
  src: url(../../assets/fonts/Inter-Bold.woff) format('woff');
}

body {
  margin: auto;
}

/* scrollbar body */

body::-webkit-scrollbar {
  width: 1vw;
}

body::-webkit-scrollbar-track {
  background-color: #F5F0FE;
}

body::-webkit-scrollbar-thumb {
  background-color: #A58AD2;
  border: 0.3vw solid #F5F0FE;
  border-radius: 5vw;
}

/* profile */

.all-profile {
  display: flex;
  width: 100%;
  // letter-spacing: -0.5px; eu tirei pq achei as letras praticamente grudadas, me deu agonia de ler kk
  // mas se vc gostou mt pode botar dnv
}

.container-profile {
  margin: 4.5% auto 4.5% auto !important;
  width: 50%;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 32px;
  min-height: 490px;
  max-height: 490px;
}

.part1-profile {
  background-color: #a58ad2db;
  text-align: center;
  border-radius: 14px 14px 0 0;
  padding: 10px;
  min-height: 170px;
  max-height: 170px;
}

.part2-profile {
  border-color: var(--profile);
  background-color: var(--profile2);
  border-width: 2px;
  border-style: solid;
  border-radius: 0 0 14px 14px;
  padding: 40px;
  padding-bottom: 15px;
  display: flex;
  max-height: 320px;
  min-height: 320px;
}

.row {
  --bs-gutter-x: 0 !important;
}

#icon-profile {
  width: 12%;
  height: 12%;
  margin-top: 3%;
}

#name-profile {
  font-size: 24px;
  font-family: Inter-Regular;
  color: #fff;
  // letter-spacing: -1px;
}

.info1-profile {
  width: 70%;
  margin: 1%;
}

.info2-profile {
  width: 30%;
}

#icons-profile {
  width: 3%;
}

#title-profile {
  margin-block-start: 0em;
  margin-block-end: 0.2em;
  font-size: 16px;
  color: var(--accent-color1);
  font-family: Inter-SemiBold;
  display: flex;
  align-items: center;
}

#text-profile {
  margin-block-start: 0em;
  margin-block-end: 2em;
  font-size: 16px;
  font-family: Inter-Regular;
  color: var(--titleprofile1);
}

#service-title-profile {
  margin-block-start: 0em;
  margin-block-end: 0.2em;
  font-size: 16px;
  font-family: Inter-SemiBold;
  display: flex;
  align-items: center;
  color: var(--accent-color1);
}

#service-text-profile {
  margin-block-end: -3px;
  font-size: 17px;
  font-family: Inter-Regular;
  color: var(--titleprofile1);
}

#service-text-profile:hover {
  color: #675880;
  cursor: pointer;
}

.container-config {
  border-color: var(--profile);
  background-color: var(--profile2);
  border-width: 2px;
  border-style: solid;
  width: 17.5%;
  border-radius: 14px;
  padding: 30px;
  margin: 4.5% auto auto -1%;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  min-height: 490px;
  max-height: 490px;
}

#options-title {
  margin-block-start: 2em;
  margin-block-end: 0.8em;
  font-size: 16.5px;
  font-family: Inter-Bold;
  color: var(--accent-color1);
}

#options-text {
  margin-block-start: 0em;
  margin-block-end: 0.5em;
  font-size: 16px;
  font-family: Inter-Regular;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: var(--titleprofile1);
}

#options-text:hover,
#options-logout:hover {
  color: #675880;
  transition: 0.5s;
}

#options-logout {
  margin-block-start: 5em;
  margin-block-end: 0em;
  font-size: 17px;
  font-family: Inter-Regular;
  cursor: pointer;
  color: var(--profile3);
}

/* modals */

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;

}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.modal-dialog {
  font-family: Inter-Regular !important;
}

textarea {
  resize: none !important;
}

textarea:focus,
input:focus,
select:focus {
  box-shadow: 0 0 0 0 !important;
  border-color: #6c757d !important;
}

#save-button-modals-profile, #delete-button-modals-profile{
  height: 40px;
  border-radius: 14px;
}

#save-button-modals-profile:hover{
  color: #71b36b;
  border-color: #71b36b;
  background-color: #fff;
}

#delete-button-modals-profile:hover{
  color: #b36b6b;
  border-color: #b36b6b;
  background-color: #fff;
}

#close-button-modals-profile:hover{
  color: #4a5258;
  border-color: #6c757d;
  background-color: #fff;
}

.div-buttons-modal{
  text-align: center;
}

.edit-profile-buttons-modal{
  height: 40px !important;
  border-radius: 14px;
}

.right-button-modal{
  margin-left: 3%;
}

/* my avaliations */
.feed-avaliations-modal {
  min-height: 300px;
  max-height: 300px;
  overflow-y: scroll;
}

.feed-avaliations-modal::-webkit-scrollbar {
  width: 1vw;
}

.feed-avaliations-modal::-webkit-scrollbar-track {
  background-color: #ffffff;
}

.feed-avaliations-modal::-webkit-scrollbar-thumb {
  background-color: #6c757d;
  border: 0.34vw solid #ffffff;
  border-radius: 5vw;
}

.individual-avaliation-modal {
  width: 98%;
}

.block-avaliation-modal {
  display: flex;
}

.part1-avaliation-modal {
  width: 11%;
  margin: 0 2% 2% 0;
}

#icon-avaliation-modal {
  width: 106%;
  height: fit-content;
  margin: 0;
}

#name-avaliation-modal {
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-size: 16px;
  font-family: Inter-Medium;
  margin-bottom: -3px;
}

#text-avaliation-modal {
  text-align: justify;
  font-size: 16px;
  font-family: Inter-Regular;
  margin-block-end: 1.8em;
}

#delete-review-button {
  height: 35px;
  font-family: Inter-Regular !important;
  font-size: 14px;
  align-self: center;
  margin-left: auto;
  width: 16%;
}

/* cancel service */

.category-button {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  color: #000;
  padding: 14px 10px 14px 10px;
  width: 100%;
  margin-bottom: 2%;
  border-radius: 10px;
  border: 1px solid #e0dde6;
}

.category-button:hover {
  background-color: #e9e9e9;
  color: #000;
}

/* announce service */

.row-localization {
  --bs-gutter-x: 0.5rem !important;
  --bs-gutter-y: 0.5rem;
}

#localization-label {
  margin: .5rem 0 .02rem 0 !important;
}

#link-whatsapp {
  color: #A58AD2;
  text-decoration: none;
}

#link-whatsapp:hover {
  color: #675880;
}

.modal::-webkit-scrollbar {
  width: 1vw;
}

.modal::-webkit-scrollbar-track {
  background-color: #F5F0FE;
}

.modal::-webkit-scrollbar-thumb {
  background-color: #A58AD2;
  border: 0.3vw solid #F5F0FE;
  border-radius: 5vw;
}

/* ------------ edit account ----------- */

.containerInputEdit {
  display: flex;
  width: 100%;
  color: var(--accent-color1);
  background-color: #fff;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.375rem;
  align-items: center;
  height: 38px;

}

.containerInputEdit-tel {
  display: flex;
  width: 100%;
  color: #212529;
  background-color: #fff;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.375rem;
  align-items: center;
  height: 38px;
  padding: .375rem .75rem;

}

#emailEdit:focus,
.containerInputEdit-tel:focus {
  outline: none !important;
  border: 1px solid #ced4da !important;
}

#password-edit {
  border: transparent !important;
  width: 90%;
}

.containerInputEdit:focus {
  border: 1px solid #000000 !important;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

@media screen and (min-width: 300px) and (max-width: 490px) {
  .all-profile {
    display: flex !important;
    flex-direction: column;
  }

  .container-config {
    display: flex;
    align-self: center;
    margin-left: 36px;
    width: 300px;
    flex-direction: column;
    margin-bottom: 20px;
    min-height: 200px !important;
    height: 400px;
    justify-content: center;
  }

  .container-profile {
    width: 350px;
  }

  .part2-profile {
    padding: 0px;
    padding: 14px;
    overflow-x: scroll
  }

  .part2-profile::-webkit-scrollbar {
    width: 0.7vw !important;
  }

  .part2-profile::-webkit-scrollbar-button {
    height: 10px !important;
  }

  .part2-profile::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .part2-profile::-webkit-scrollbar-thumb {
    background-color: #aeb0b1;
    border: 0.3vw solid #A58AD2;
  }

  #text-profile {
    font-size: 15px;
  }

  #title-profile {
    font-size: 16px;
  }

  #service-text-profile {
    font-size: 14px !important;
  }

  #options-text {
    margin: -1px
  }
}