* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}
.container {
  margin: auto;
}
.flex {
  display: flex;
  justify-content: space-between;
}
a-link-home {
  text-decoration: none;
  color: #fff;
}
.bodyHome {
  height: 100%;
  font-family: "Source Sans Pro";
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  /* background-image: url(../../components/assets/img/fundoo.png) !important;
  background-size: cover; */
}
/* ===========SECTION HOME================ */
.container-Home{
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 8%;
}
.Title-home{
  max-width: 37rem;
  font-family: 'Inter-Regular';
}
.Title-home .text-h1-home{
  font-size: 3.4rem;
  margin-bottom: 1rem;
  line-height: 4rem;
  font-family: 'Inter-Bold';

}
.Title-home p{
color: #000;
  font-size: 1.2rem;
  font-family: sans-serif;
  line-height: 1.5rem;
  margin: 10px 0px 0px;
}
.img-landingPage{
  width: 550px;
  /* margin-left: 36px; */
}


.buttonHome-a a{
  display: inline-block;
  background-color: #A16FF7;
  padding: 12px 36px;
  font-size: 1.2rem;
 
  border:none;
  border-radius:17px;
  color: #fff;
  text-decoration: none;
  font-family: 'Inter-SemiBold';
  transition: all 0.5s;
}
.buttonHome-a :hover{
  background-color: #8058C4;
  color: #fff;
  text-decoration: none;
  box-shadow: 0 10px 17px 0 #8058c4cf;
}


/* ===========SECTION HOME================ */

/* -------------serviços--------------- */

.serviceHome{
  /* margin: 0% 0 5% 0; */
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  min-height: 10vh;
}
.titleServices h2{
  color: #655A78;
  font-size: 35px;
  font-family: sans-serif;
  width: 100%;
  margin: 5px auto;
  text-align: center;
  }
.servicoscards{
  height: 335px;
  padding: 20px 35px;
  background: #D9D9D9;
  box-shadow: 0 10px 10px 0  #999999;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.cardS .imgEletricista{
  text-align: center;
  margin: 15px 0px;
}
.imgEletricista{
  width: 40%;
}
.h5HomeCard{
  color: #655A78;
  font-size: 33px;
  font-family: 'Inter-Medium';
  margin-top: 15px;
  margin-bottom: 15px;
}
.pra p{
  color: black;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 25px;
  font-family: 'Inter-Regular';
}
.p{
  color: black;
  font-size: 36px;
  line-height: 27px;
  margin-bottom: 25px;
}

.ContainerButtonHomeS{
  width: 100%;
  height: 10vh;
  margin: auto;
  margin-top: 3.4%;
  margin-bottom: 7.4%;
}


.buttonHome2-a a{
  justify-content: center;
  padding: 20PX 35PX;
  border: none;
  background-color: #A16FF7;
  text-decoration: #A16FF7;
  border-radius: 15px;
  color: #fff;
  font-size: 1.3rem;
  font-family: 'Inter-SemiBold';
  width: 20%;
  margin: auto;
  display: flex;
  align-items: center;
  transition: all 0.5s;
}
.buttonHome2-a:hover{
  background-color: #8058C4;
  color: #fff;
  text-decoration: #8058C4;
  box-shadow: 0 10px 17px 0 #7E57C2;
}
a{
  text-decoration: none;
}


/* -----------Como Funciona styles-------------- */
/* Titulos */
.ContainerTextServices{
  width: 60%;
  margin: auto;
}
.texts-ComoF .text-h1-ComoF{
  font-size: 2.4rem;
  margin-bottom: 2rem;
  text-align: center;
  line-height: 2rem;
  color: #655A78;
  font-family: 'Inter-SemiBold';
  }
.ContainerTextServices p{
  color: #000;
  font-size: 1.6rem;
  font-family: 'Inter-Regular';
  text-align: center;
  line-height: 2.5rem;
  margin: 10px 0px 0px;
  }

/* Cards */
.serviceHome2{
  padding: 30px 50px;
  height: 60vh;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.titleServices h2{
  color: #655A78;
  font-size: 35px;
  font-family: sans-serif;
  width: 100%;
  margin: 5px auto;
  text-align: center;
  }
.servicoscards2{
  width: 23%;
  height: 315px;
  padding: 20px 35px;
  border-radius: 20px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.cardS2 .imgEletricista2{
  text-align: center;
  margin: 15px 0px;
}
.cardS2 .imgEletricista3{
  text-align: center;
  margin: 15px 0px;
}
.imgEletricista2{
  width: 40%;
}
.imgEletricista3{
  width: 40%;
}
.h5HomeCard2{
  color: #655A78;
  font-size: 1.5rem;
  font-family: 'Inter-SemiBold';
  text-align: center;
  
}
.pra2 p{
  color: black;
  font-size: 18px;
  font-family: 'Inter-Regular';
  line-height: 20px;
  margin-bottom: 25px;
  text-align: center;
}
.p{
  color: black;
  font-size: 36px;
  line-height: 27px;
  margin-bottom: 25px;
}
/* -----------Como Funciona styles-------------- */
/* -------------serviços--------------- */
/* ----------responsividade------------ */

@media (max-width:965px){
  .container-Home{
    padding: 100px 2%;
    height: 70%;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    gap: 5rem;
  }
  .Title-home .text-h1-home{
    font-size: 3rem;
  }
  .imgQuemS {
    width: 70%;
  
  }
  .img-landingPage {
    width: 70%;
}
  
  .Title-home p{
    color: #000;
    font-size: 1.3rem;
    font-family: sans-serif;
    line-height: 2rem;
    margin: 10px 0px 0px;
  }
  .serviceHome{
    display: block;
    }
  .serviceHome2{
    display: block;
    }
    .servicoscards{
      width: 70%;
      padding: 20px 35px;
      background: #D9D9D9;
      box-shadow: 0 10px 10px 0 #999999;
      border-radius: 20px;
      margin: auto;
      margin-bottom: 50px;
      position: relative;
      overflow: hidden;
      text-align: center;
    }
    .servicoscards2{
      width: 70%;
    height: 450px;
    padding: 30px 35px;
    border-radius: 20px;
    margin: auto;
    position: relative;
    overflow: hidden;
    text-align: center;
    }
    .cardS2 .imgEletricista3 {
      text-align: center;
      margin: 15px 0px;
      margin-left: 10%;
  }
  .pra2 p {
    color: black;
    font-size: 1.5rem;
    font-family: 'Inter-Regular';
    line-height: 25px;
   
}
.h5HomeCard2 {
  color: #655A78;
  font-size: 2.5rem;
  font-family: 'Inter-SemiBold';
  margin-bottom: 15px;
}
.pra p {
  color: black;
  font-size: 1.2rem;
  line-height: 24px;
  margin-bottom: 25px;
  font-family: 'Inter-Regular';
}
    
}

 /* @media (max-width: 1282px) {

  .container-Home {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

} */

.services{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  height: 100%;
  margin: 1rem 7rem;
  gap: 2rem;
}
.milestones{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: #000;
  align-items: center;
  height: 100%;
}

.milestone {
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 15%;
}

@media screen and (min-width: 280px) and (max-width: 1080px) {
  
  .grid{
    display: flex;
  }
  .services__service__image{
    width: 50%;
  }
  .pra{
    width: 50%;
    height: 100%;
  }
  .h5HomeCard {
    color: #655A78;
    font-size: 39px;
    font-family: 'Inter-Medium';
    margin-top: 0;
    margin-bottom: 15px;
    padding: 16px;
    background-color: #c1c1c1c1;
}
  .container-Home{
    padding: 100px 2%;
    height: 70%;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    gap: 1rem;
  }
  .Title-home .text-h1-home{
    font-size: 3rem;
  }
  .imgQuemS {
    width: 70%;
  
  }
  .img-landingPage {
    width: 70%;
}
  .serviceHome2{
    padding: 5rem 2rem;
    min-height: 100ch;
    height: 100%;
  }
  .milestones {
    grid-template-columns: repeat(2, 1fr);
    gap: 0rem;
  }
  .serviceHome {
    /* min-height: 100ch; */
    height: 100%;
}
.servicoscards {
  width: 70%;
  padding: 0;
  background: #D9D9D9;
  box-shadow: 0 10px 10px 0 #999999;
  border-radius: 15px;
  margin: auto;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.imgEletricista {
  width: 60%;
}
.pra p {
  color: black;
  font-size: 1.4rem;
  line-height: 24px;
  margin-top: 25px;
  font-family: 'Inter-Regular';
  margin-right: 40px;
}
.services {
  margin: 1rem 0;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 0 2rem;
}
.buttonHome2-a a {
  justify-content: center;
  padding: 30PX 65PX;
  border: none;
  background-color: #A16FF7;
  text-decoration: #A16FF7;
  border-radius: 15px;
  color: #fff;
  font-size: 2rem;
  font-family: 'Inter-SemiBold';
  width: 40%;
  margin: auto;
  display: flex;
  align-items: center;
  transition: all 0.5s;
}
.texts-ComoF .text-h1-ComoF {
  font-size: 3rem;
  margin-bottom: 2.5rem;
  text-align: center;
  line-height: 4rem;
  color: #655A78;
  font-family: 'Inter-SemiBold';
}
}
/* -------------------------------------------- */
@media screen and (max-width: 725px) and (min-width: 561px){
  .container-Home {
    padding: 40px 2%;
    height: 70%;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
    gap: 1rem;
}
  .pra{
    display: none;
  }
  .services__service__image{
    width: 100%;
  }
  .imgEletricista {
    width: 25%;
}
.servicoscards {
  width: 90%;
  height: 260px;
  background: #D9D9D9;
  box-shadow: 0 10px 10px 0 #999999;
  border-radius: 15px;
  margin: auto;
  margin-bottom: 40px;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.Title-home p {
  color: #000;
  font-size: 1.8rem;
  font-family: sans-serif;
  line-height: 3rem;
  margin: 10px 0px 0px;
}
.h5HomeCard2 {
  color: #655A78;
  font-size: 2rem;
  font-family: 'Inter-SemiBold';
  margin-bottom: 15px;
}
}

.milestone {
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0rem;
  padding: 10px 8%;
}
.pra2 p {
  color: black;
  font-size: 1.3rem;
  font-family: 'Inter-Regular';
  line-height: 30px;
}
.imgEletricista2 {
  width: 40%;
  margin-bottom: 20PX;
}
/* -------------------------------------------------- */
@media screen and (max-width: 560px) and (min-width: 376px){
  .container-Home {
    width: 100%;
    height: 100vh;
    display: contents;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.img-landingPage {
  width: 90%;
  /* margin-left: 36px; */
}
.Title-home .text-h1-home {
  font-size: 2.5rem;
  padding: 10px 30px;
  line-height: 55px;
}
.Title-home p {
  color: #000;
  font-size: 1.6rem;
  text-align: center;
  font-family: sans-serif;
  line-height: 2.5rem;
  padding: 0% 10%;
  margin: auto;
  margin-bottom: 30px;
}
.texts-ComoF .text-h1-ComoF {
  font-size: 2rem;
  margin-top: 2rem;
  text-align: center;
  line-height: 3rem;
  color: #655A78;
  font-family: 'Inter-SemiBold';
}
.ContainerTextServices{
  width: 100%;
}
.services {
  margin: 1rem 0;
  grid-template-columns: 1fr;
  gap: 0rem;
  padding: 0 2rem;
}
.pra{
  display:none;
}
.servicoscards {
  width: 100%;
  height: 180px;
  padding: 0px ;
  background: #D9D9D9;
  box-shadow: 0 10px 10px 0 #999999;
  border-radius: 15px;
  margin: auto;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.services__service__image{
width: 100%;
}
.pra{
  width: 50%;
  align-items: center;
  justify-content: center;
  
}
.h5HomeCard {
  color: #655A78;
  font-size: 2rem;
  font-family: 'Inter-Medium';
}
/* .pra p {
  color: black;
  font-size: 10px;
  line-height: 13px;
  margin-bottom: 25px;
  font-family: 'Inter-Regular';
} */
/* .imgEletricista {
  width: 40%;
  margin-bottom: 0px;
} */
.buttonHome2-a a {
  justify-content: center;
  padding: 30PX 5PX;
  border: none;
  background-color: #A16FF7;
  text-decoration: #A16FF7;
  border-radius: 15px;
  color: #fff;
  font-size: 1.7rem;
  font-family: 'Inter-SemiBold';
  width: 60%;
  margin: auto;
  display: flex;
  align-items: center;
  transition: all 0.5s;
}
.ContainerTextServices p {
  color: #000;
  font-size: 1.6rem;
  text-align: center;
  font-family: sans-serif;
  line-height: 2.5rem;
  padding: 0% 10%;
  margin: auto;
  margin-bottom: 30px;
}
.serviceHome2 {
  padding: 3rem 2rem;
  height: 100%;
  min-height: 50ch;
}
.h5HomeCard2 {
  color: #655A78;
  font-size: 1.5rem;
  font-family: 'Inter-SemiBold';
  margin-bottom: 15px;
}
.pra2 p{
  display:none;
}
.h5HomeCard2 {
  color: #655A78;
  text-align: center;
  font-size: 1.4rem;
  font-family: 'Inter-SemiBold';
  margin-bottom: 15px;
}
.milestone {
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 10px 10%;
}
.imgEletricista2 {
  width: 60%;
}
.imgEletricista {
  width: 15%;
}
}
/* ----------------------------------------------------- */
@media (max-width: 375px) {

  .container-Home {
    width: 100%;
    height: 100vh;
    display: contents;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}
.img-landingPage {
  width: 90%;
  /* margin-left: 36px; */
}
.Title-home .text-h1-home {
  font-size: 2rem;
  padding: 10px 20px;
  line-height: 45px;
}
.Title-home p {
  color: #000;
  font-size: 1.1rem;
  text-align: justify;
  font-family: sans-serif;
  line-height: 1.4rem;
  padding: 0% 10%;
  margin: auto;
}
.texts-ComoF .text-h1-ComoF {
  font-size: 1.6rem;
  margin-top: 2rem;
  text-align: center;
  line-height: 2.5rem;
  color: #655A78;
  font-family: 'Inter-SemiBold';
}
.ContainerTextServices{
  width: 100%;
}
.services {
  margin: 1rem 0;
  grid-template-columns: 1fr;
  gap: 0rem;
  padding: 0 2rem;
}
.grid{
  display:none;
}
.servicoscards {
  width: 100%;
  height: 70px;
  padding: 0px;
  background: #D9D9D9;
  box-shadow: 0 10px 10px 0 #999999;
  border-radius: 15px;
  margin: auto;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.services__service__image{
width: 50%;
}
.pra{
  width: 50%;
  align-items: center;
  justify-content: center;
  
}
.h5HomeCard {
  color: #655A78;
  font-size: 2rem;
  /* margin-top: 9%; */
  font-family: 'Inter-Medium';
}
/* .pra p {
  color: black;
  font-size: 10px;
  line-height: 13px;
  margin-bottom: 25px;
  font-family: 'Inter-Regular';
} */
/* .imgEletricista {
  width: 40%;
  margin-bottom: 0px;
} */
.buttonHome2-a a {
  justify-content: center;
  padding: 10PX 5PX;
  border: none;
  background-color: #A16FF7;
  text-decoration: #A16FF7;
  border-radius: 15px;
  color: #fff;
  font-size: 1.3rem;
  font-family: 'Inter-SemiBold';
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  transition: all 0.5s;
}
.ContainerTextServices p {
  color: #000;
  font-size: 1.1rem;
  font-family: 'Inter-Regular';
  text-align: justify;
  line-height: 1.4rem;
  margin: auto;
  padding: 0% 10%;
}
.serviceHome2 {
  padding: 3rem 2rem;
  height: 100%;
  min-height: 50ch;
}
.h5HomeCard2 {
  color: #655A78;
  font-size: 1.5rem;
  font-family: 'Inter-SemiBold';
  margin-bottom: 15px;
}
.pra2 p{
  display:none;
}
.h5HomeCard2 {
  color: #655A78;
  text-align: center;
  font-size: 1.4rem;
  font-family: 'Inter-SemiBold';
  margin-bottom: 15px;
}
.milestone {
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 10px 10%;
}
.imgEletricista2 {
  width: 60%;
}



}
