.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
  padding: 20px;
}

.image-gallery-fullscreen-button .image-gallery-svg,
.image-gallery-play-button .image-gallery-svg {
  padding: 5px;
}

.image-gallery-content .image-gallery-slide .image-gallery-image {
  border-radius: 10px;
}

.carousel {
  width: 100%;
  margin-bottom: 10px;
}

.uploaded-images-list {
  border: 1px solid;
  position: relative;
  height: 66px;
  padding: 8px;
  border: 1px solid #d9d9d9;
  border-radius: 7px;
  width: 20%;
  margin: 1mm;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container-uploaded-images {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-icon {
  white-space: nowrap;
  text-align: center;
  border: 1px solid transparent;
  box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  height: 23px !important;
  color: #8c8c8c;

  &:hover {
    border-radius: 5px;
    background-color: #f0f0f0;
    color: #000;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
}

