.image-gallery-content .image-gallery-slide .image-gallery-image {
  max-height: calc(50vh - 80px) !important;
  border-radius: 10px;
  max-width: 370px;
  max-height: 370px;
  min-height: 370px;
  min-width: 370px;
  background-color: #7e57c221;
}

.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
  padding: 20px;
}

.image-gallery-fullscreen-button .image-gallery-svg,
.image-gallery-play-button .image-gallery-svg {
  padding: 5px;
}

.image-gallery-thumbnails-container {
  padding: 10px;
  width: 300px;
  
}

.image-gallery-left-nav .image-gallery-svg, .image-gallery-right-nav .image-gallery-svg {
  height: 120px;
  width: 60px;
  margin-top: 13px;
}

.image-gallery-play-button, .image-gallery-fullscreen-button {
  top: 310px;
}
