footer {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 10px 0 0;

  .upper {
    display: flex;
    justify-content: space-between;
    color: var(--accent-color3);

    .brand-container {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      ul {
        list-style-type: none;
        display: flex;
        gap: 1rem;
      }
    }

    .links {
      display: flex;
      gap: 8rem;

      .link {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        h4 {
          color: var(--accent-color1);
          text-transform: uppercase;
        }

        ul {
          list-style-type: none;
          display: flex;
          flex-direction: column;
          gap: 1rem;
        }
      }
    }
  }

  .lower {
    display: flex;
    justify-content: space-between;

    span {
      color: var(--accent-color3);
    }
  }
}

[data-theme="light"] {
  footer {
    background-color: #e5ccfd;

    .brand-container {
      .brand {
        img {
          filter: brightness(0);
        }
      }
    }
  }
}

[data-theme="dark"] {
  footer {
    background-color: #1f0631a2;
  }

  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a {
    color: #fff;
  }

  .bottom-details {
    background-color: #655a784b;
  }

  .footer-col ul li a {
    color: #fff;
  }

  .footer-col ul h4,
  .footer-col h4 {
    color: #fff;
  }
}

@media screen and (min-width: 280px) and (max-width: 1080px) {
  footer {
    margin: 0;
    gap: 2rem;
    // padding: 1rem 2rem;

    .upper {
      flex-direction: column;
      gap: 2rem;

      .links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;

        .link {
          gap: 1rem;
        }
      }
    }

    .lower {
      flex-direction: column;
      gap: 1rem;
    }
  }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter-Regular;
}

.container-footer {
  max-width: 1400px;
  padding: 0 4%;
  margin: auto;
}

.row-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 90px 0;
}

.logoFooter {
  width: 70%;
}

.footer-col {
  width: 25%;
  padding: 0 15px;
}

.footer-col h4 {
  font-size: 22px;
  color: #3c3646;
  margin-bottom: 20px;
  font-weight: 500;
  position: relative;
  text-transform: uppercase;
}

.footer-col ul {
  list-style: none;
  padding-left: 0rem;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #655A78;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #7E57C2;
  padding-left: 10px;
}

.footer-col ul h4,
.footer-col h4 {
  font-family: Inter-SemiBold;
}

.footer-col .medias-socias {
  margin-top: 30px;
}

.footer-col .medias-socias a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  margin: 0 10px 10px 0;
  text-decoration: none;
  border-radius: 50%;
  color: #655A78;
  border: 1px solid #655A78;
  transition: all 0.5s ease;
}

.footer-col .medias-socias a i {
  font-size: 20px;
}

.footer-col .medias-socias a:hover {
  color: #D1BAF9;
  background-color: #655A78;
}

.footer-col .form-sub input {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  outline: none;
  border: 1px solid #655A78;
  color: #655A78;
  background-color: #D1BAF9;
}

.footer-col .form-sub input::placeholder {
  color: #655A78;
}

.footer-col .form-sub button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  font-size: 17px;
  outline: none;
  border: none;
  cursor: pointer;
  color: #D1BAF9;
  border-radius: 3px;
  font-weight: bold;
  background-color: #655A78;
}


footer .bottom-details {
  width: 100%;
  background: #d2acf5;
}

footer .bottom-details .bottom_text {
  max-width: 1250px;
  margin: auto;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.bottom-details .bottom_text span,
.bottom-details .bottom_text a {
  font-size: 14px;
  font-weight: 300;
  color: #000000;
  opacity: 0.8;
  text-decoration: none;
}

.bottom-details .bottom_text a:hover {
  opacity: 1;
  text-decoration: underline;
}

.bottom-details .bottom_text a {
  margin-right: 10px;
}


@media (max-width: 800px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }

  footer .bottom-details .bottom_text {
    max-width: 1250px;
    margin: auto;
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 30px;
  }

  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a {
    font-size: 14px;
    font-weight: 300;
    color: #000000;
    opacity: 0.8;
    text-decoration: none;
    text-align: initial;
  }
}

@media (max-width:600px) {
  .footer-col {
    width: 100%;
  }

  @media (max-width: 700px) {
    footer {
      position: relative;
      padding: 0 0;
      height: 70%;
      flex-direction: column;
      text-align: center;
      overflow: hidden;
    }

    .row-footer {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px 30px 0;
    }

    .bottom-details .bottom_text span,
    .bottom-details .bottom_text a {
      font-size: 12px;
    }
  }
}

@media (max-width: 700px) {
  .logoFooter {
    width: 70px;
  }

  .footer-col {
    width: 100px;
    height: 100px;
  }

  .medias-socias {
    width: 100px;
  }

  footer .bottom-details .bottom_text {
    margin-top: 60px;
  }

  .footer-col h4 {
    margin-bottom: 20px;
    font-size: 18px;
  }

  .row-footer {
    padding: 10px 5px 0px;
  }

  .logoFooter {
    margin-top: 60px;
  }

  .footer-col ul li a {
    font-size: 14px;
  }

  .footer-col .medias-socias a {
    height: 30px;
    width: 30px;
  }
}