.container-search {
  background-color: #FAFAFA;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1 );
  color: #655A78;
  font-family: Inter-Regular;
  margin-right: 100px;
  height: 500px;
} 

.grid-search {
  text-align: center;
}

.button-search {
  color: #A58AD2;
  border: none;
  font-weight: bold;
  background-color:transparent;
  border-radius: 8px;
  border: 2px solid #A58AD2;
  font-family: Inter-Bold;
  height: 47px;
  width: 80px;
  margin-left: 20px;
}

.button-search:hover {
  border: 2px solid #655A78;
  color: #655A78;
}

.input-search {
  display: flex;
  background-color: #f8f8f8;
  border-radius: 8px;
  width: 200px ;
  padding: 10px ;
  color: #000000;
  font-size: 17px;
  border: 1px solid #F5F0FE;
  margin-left: 30px;
}

.input-search:hover{
  border: 1px solid #9472ce !important;
}

#icon-search{
  color: #655A78 !important;
  font-size: 25px;
}

.input-search-content {
  background-color: #f8f8f8;
  border: none;
  outline: none;
  font-family: Inter-Regular;
  width: 85%;
  margin-left: 3%;
}
