.container-cadastro{
    margin: 0;
    width: 100vw;
    height: 80vh;
    display: flex;  
    justify-content: center;
    align-items: center;
}

.header-cadastro{
    height: 12vh;
    padding: 15px;
}
.formCadastro form{
    height: 75%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    height: 450px;
}

.logo-cadastro{
    width: 55px;
}

.img-box img{
    width: 100%;
}
.box-cadastro{
    background-color: #E6DCF9;
    width: 30%;
    text-align: center;   
    border-radius: 25px;
    box-shadow: 0px 4px 5px #c8bae5;
    padding: 20px;
}
.box-cadastro .h2Cadastro{
    color: #3E3848;
    text-align: center;
    font-size: 2.3rem;
    font-weight: 500;
}
.box-cadastro p{
    font-weight: bold;
    color: #3D3D3D;
}
.box-cadastro p a{
    color: #FF008A;
    text-decoration: none;
}
.box-cadastro form{
    margin: 20px 0;
}

.inputRegister {
    background-color: #fff;
    height: 50%;
    width: 90%;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 10px;
    border-radius: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    outline: none;
    cursor: pointer;
    align-self: center;
  }
  
  .inputRegister::placeholder {
    text-align: left;
    color: #000000;
    font-size: 17px;
  }

.inputRegisterPass {
    background-color: #fff;
    height: 50%;
    width: 90%;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 10px;
    border-radius: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    outline: none;
    cursor: pointer;
    align-self: center;
  }
  
  .inputRegisterPass::placeholder {
    text-align: left;
    color: #000000;
    font-size: 17px;
  }

  .input-cadastro{
    background-color: #fff;
    height: 50px;
    width: 90%;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 10px;
    border-radius: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    outline: none;
    cursor: pointer;
    align-self: center;

  }

  .input-cadastro::placeholder{
    color: #000000;
    font-size: 17px;
}
.input-cadastro:focus{
    border: none;
}
/* form .input-group{
    margin-bottom: 15px;
}
form .input-group label{
    color: #3D3D3D;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
form .input-group input{
    width: 100%;
    height: 47px;
    background-color: rgba(255, 255, 255, 0.32);
    border-radius: 20px;
    outline: none;
    border: 2px solid transparent;
    padding: 15px;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
}
form .input-group input:focus{
    border-color: #ff008869;
}
form .input-group button{
    width: 100%;
    height: 47px;
    background: #FF008A;
    border-radius: 20px;
    outline: none;
    border: none;
    margin-top: 15px;
    color: white;
    cursor: pointer;
    font-size: 16px;
} */

.button-cadastro{
    background-color: #8058C4;
    color: #FFFFFF;
    border: none;
    border-radius: 30px;
    height: 40px;
    width: 80%;
    font-size: 20px;
    font-weight: bold
}

.button-cadastro:hover{
    background-color: #9472ce;
}

.a-cadastro{
    margin-top: 10px;
    color: #7E57C2;
    text-decoration: none;
    font-size: 17px;
}


@media (max-width:930px) {
    .img-box{
        display: none;
    }
    .box{
        width: 700px;
    }
    .form-box-cadastro{
        width: 100%;
        border-radius: 20px;
    }
}
@media (max-width:500px) {
    .w50{
        width: 100%;
        padding: 0;
    }
}