@font-face {
  font-family: 'Inter-Regular';
  src: url(../../assets/fonts/Inter-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Inter-Medium';
  src: url(../../assets/fonts/Inter-Medium.woff) format('woff');
}

@font-face {
  font-family: 'Inter-SemiBold';
  src: url(../../assets/fonts/Inter-SemiBold.woff) format('woff');
}

@font-face {
  font-family: 'Inter-Bold';
  src: url(../../assets/fonts/Inter-Bold.woff) format('woff');
}

.body-chat {
  margin: auto;
  background-image: url(../../assets/img/imgFundo3.png) !important;
}

.all-chat {
  display: flex;
  width: 100%;
  background-size: cover;
  padding: 120px;
  margin-bottom: 49px;
}

/* chat */

.container-chat {
  margin-top: 6%;
  width: 55%;
  min-width: 55%;
  margin: auto;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 32px;
  background-color: #fff;
  min-height: 500px;
  max-height: 500px;
}

.header-chat {
  display: flex;
  background-color: #A58AD2;
  border-radius: 32px 32px 0px 0px;
  padding: 10px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
  min-height: 78px;
  max-height: 78px;
}

#icon-individual-chat {
  width: 7%;
  height: 7%;
  margin-left: 4%;
  cursor: pointer;
}

#name-account {
  font-family: Inter-Medium;
  margin: auto 10px auto;
  font-size: 22px;
  color: #fff;
  cursor: pointer;
}

.messages-chat {
  padding: 30px 40px 20px 40px;
  font-family: Inter-Regular;
  font-size: 16px;
  min-height: 329px;
  max-height: 329px;
  overflow-y: scroll;
}

.messages-chat::-webkit-scrollbar {
  width: 1vw;
}

.messages-chat::-webkit-scrollbar-button {
  height: 5px;
}
  
.messages-chat::-webkit-scrollbar-track {
  background-color: #fff;
}
  
.messages-chat::-webkit-scrollbar-thumb {
  background-color: #aeb0b1;
  border: 0.3vw solid #fff;
  border-radius: 5vw;
}

#left-message {
  background-color: rgb(248, 248, 248);
  max-width: 50%;
  border-radius: 20px 20px 20px 0px;
  padding: 10px 20px 10px 20px;
  width: fit-content;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}

#right-message {
  background-color: #d5cce4;
  max-width: 50%;
  border-radius: 20px 0 20px 20px;
  padding: 10px 20px 10px 20px;
  width: fit-content;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  margin-left: auto;
}

.type-message {
  padding: 20px;
  font-family: Inter-Regular;
  border-radius: 0 0 32px 32px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.25);
  display: flex;
  min-height: 93px;
  max-height: 93px;
}

.input-message{
  border: 0;
  background-color: #F8F8F8;
  padding: 15px;
  border-radius: 10px;
  width: 91%;
}

#send-icon{
  color: #A58AD2;
  background-color: #F8F8F8;
  border-radius: 30px;
  padding: 10px;
  font-size: 50px;
  transform: rotate(-20deg);
  margin-left: 1%;
  cursor: pointer;
}

#send-icon:hover{
  color: #655A78;
  transition: 0.5s;
}

/* search users */

.box-search-chat {
  width: 25%;
  margin: auto;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 32px;
  background-color: #fff;
  min-height: 500px;
  max-height: 500px;
  padding: 20px;
}

.container-box-search{
  display: flex;
  align-items: center;
}

#search-icon-chat{
  color: #655A78 !important;
}

.container-input{
  display: flex;
  background-color: #f8f8f8;
  height: 40px;
  border-radius: 15px;
  align-items: center;
  padding: 10px;
  width: 73%;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.input-search-chat{
  background-color: #f8f8f8;
  border: none;
  outline: none;
  font-family: Inter-Regular;
  width: 85%;
  margin-left: 3%;
}

.button-search-chat {
  align-self: center;
  color: #655A78 !important;
  border: 2px solid transparent;
  height: 40px;
  width: 25%;
  font-size: 15px;
  font-weight: bold;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  background-color: #D1BAF9;
  color: #fff;
  font-family: Inter-Bold;
  border-radius: 15px;
  transition: 0.5s;
  margin-left: 2%;
}

.button-search-chat:hover {
  color: #fff !important;
  border: 2px solid #A58AD2 !important;
}

.list-chat-profiles{
  margin-top: 10%;
  max-height: 390px;
  min-height: 390px;
  overflow-y: scroll;
}

.individual-chat-profile{
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 6%;
  padding: 8px 8px 8px 12px;
  border-radius: 15px;
  background-color: #f8f8f8; 
}

#icon-individual-chat-profile{
  width: 12%;
  height: 12%;
  margin-right: 3%;
}

#name-chat-profile{
  font-family: Inter-Regular;
  font-size: 17px;
  margin: auto 0 auto;
}

.individual-chat-profile:hover{
  background-color: #dbc9fa;
  color: #fff;
  transition: 0.5s;
}

.list-chat-profiles::-webkit-scrollbar {
  width: 1vw;
}

.list-chat-profiles::-webkit-scrollbar-button {
  height: 0px;
}

.list-chat-profiles::-webkit-scrollbar-track {
  background-color: #fff;
}

.list-chat-profiles::-webkit-scrollbar-thumb {
  background-color: #aeb0b1;
  border: 0.3vw solid #fff;
  border-radius: 5vw;
}

/* responsividade */

@media screen and (max-width: 600px) {
  .all-chat {
    flex-direction: column;
  }

  .box-search-chat {
    width: 50%;
    height: 400px;
    margin-bottom: 20px;
    padding: 10px;
  }
}

@media screen and (min-width: 600px) and (max-width: 960px) {
  .all-chat {
    flex-direction: column;
  }

  .box-search-chat {
    width: 50%;
    height: 400px;
    margin-bottom: 20px;
    padding: 10px;
  }
}

@media screen and (min-width: 960px) and (max-width: 1264px) {
  .all-chat {
    margin: 10px;
  }

  .box-search-chat {
    width: 50%;
    height: 400px;
    margin-bottom: 20px;
    padding: 10px;
    margin-right: 30px;
  }
}