@font-face {
  font-family: 'Inter-Regular';
  src: url(../../assets/fonts/Inter-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Inter-Medium';
  src: url(../../assets/fonts/Inter-Medium.woff) format('woff');
}

@font-face {
  font-family: 'Inter-SemiBold';
  src: url(../../assets/fonts/Inter-SemiBold.woff) format('woff');
}

@font-face {
  font-family: 'Inter-Bold';
  src: url(../../assets/fonts/Inter-Bold.woff) format('woff');
}

.body-chat {
  margin: auto;
  
}

.allChat {
  display: flex;
  margin: 4% 0 5% 0;
}

/* chat */

.containerChat {
  margin-top: 6%;
  width: 55%;
  min-width: 55%;
  margin: auto;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 32px;
  background-color: #fff;
  min-height: 500px;
  max-height: 500px;
}

.headerChat {
  display: flex;
  background-color: #A58AD2;
  border-radius: 32px 32px 0px 0px;
  padding: 10px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
  min-height: 78px;
  max-height: 78px;
}

#iconIndividualChat {
  width: 8%;
  height: 8%;
  margin-left: 4%;
  cursor: pointer;
}

#nameAccount {
  font-family: Inter-Medium;
  margin: auto 10px auto;
  font-size: 22px;
  color: #fff;
  cursor: pointer;
}

.messagesChat {
  padding: 30px 40px 20px 40px;
  font-family: Inter-Regular;
  font-size: 16px;
  min-height: 329px;
  max-height: 329px;
  overflow-y: scroll;
}

.messagesChat::-webkit-scrollbar {
  width: 1vw;
}

.messagesChat::-webkit-scrollbar-button {
  height: 5px;
}
  
.messagesChat::-webkit-scrollbar-track {
  background-color: #fff;
}
  
.messagesChat::-webkit-scrollbar-thumb {
  background-color: #aeb0b1;
  border: 0.3vw solid #fff;
  border-radius: 5vw;
}

#leftMessage {
  background-color: rgb(248, 248, 248);
  max-width: 50%;
  border-radius: 20px 20px 20px 0px;
  padding: 10px 20px 10px 20px;
  width: fit-content;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}

#rightMessage {
  background-color: #d5cce4;
  max-width: 50%;
  border-radius: 20px 0 20px 20px;
  padding: 10px 20px 10px 20px;
  width: fit-content;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  margin-left: auto;
}

.typeMessage {
  padding: 20px;
  font-family: Inter-Regular;
  border-radius: 0 0 32px 32px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.25);
  display: flex;
  min-height: 93px;
  max-height: 93px;
}

.inputMessage{
  border: 0;
  background-color: #F8F8F8;
  padding: 15px;
  border-radius: 10px;
  width: 91%;
}

#sendIcon{
  color: #A58AD2;
  background-color: #F8F8F8;
  border-radius: 30px;
  padding: 10px;
  font-size: 50px;
  transform: rotate(-20deg);
  margin-left: 1%;
  cursor: pointer;
}

#sendIcon:hover{
  color: #655A78;
}

/* search users */

.boxSearchChat {
  width: 25%;
  margin: auto;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 32px;
  background-color: #fff;
  min-height: 500px;
  max-height: 500px;
  padding: 20px;
}

.containerBoxSearch{
  display: flex;
  align-items: center;
}

#searchIconChat{
  color: #655A78 !important;
}

.containerInput{
  display: flex;
  background-color: #f8f8f8;
  height: 40px;
  border-radius: 15px;
  align-items: center;
  padding: 10px;
  width: 73%;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.inputSearchChat{
  background-color: #f8f8f8;
  border: none;
  outline: none;
  font-family: Inter-Regular;
  width: 85%;
  margin-left: 3%;
}

.buttonSearchChat {
  align-self: center;
  color: #655A78 !important;
  border: 2px solid transparent;
  height: 40px;
  width: 25%;
  font-size: 15px;
  font-weight: bold;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  background-color: #D1BAF9;
  color: #fff;
  font-family: Inter-Bold;
  border-radius: 15px;
  transition: 0.5s;
  margin-left: 2%;
}

.buttonSearchChat:hover {
  color: #fff !important;
  border: 2px solid #A58AD2 !important;
}

.listChatProfiles{
  margin-top: 10%;
  max-height: 390px;
  min-height: 390px;
  overflow-y: scroll;
}

.individualChatProfile{
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-bottom: 6%;
  padding: 8px 8px 8px 12px;
  border-radius: 15px;
  background-color: #f8f8f8; 
}

#iconIndividualChatProfile{
  width: 12%;
  height: 12%;
  margin-right: 3%;
}

#nameChatProfile{
  font-family: Inter-Regular;
  font-size: 17px;
  margin: auto 0 auto;
}

.individualChatProfile:hover{
  background-color: #dbc9fa;
  color: #fff;
}

.listChatProfiles::-webkit-scrollbar {
  width: 1vw;
}

.listChatProfiles::-webkit-scrollbar-button {
  height: 0px;
}

.listChatProfiles::-webkit-scrollbar-track {
  background-color: #fff;
}

.listChatProfiles::-webkit-scrollbar-thumb {
  background-color: #aeb0b1;
  border: 0.3vw solid #fff;
  border-radius: 5vw;
}

/* responsividade */

@media screen and (max-width: 600px) {
  .allChat {
    flex-direction: column;
  }

  .boxSearchChat {
    width: 50%;
    height: 400px;
    margin-bottom: 20px;
    padding: 10px;
  }
}

@media screen and (min-width: 600px) and (max-width: 960px) {
  .allChat {
    flex-direction: column;
  }

  .boxSearchChat {
    width: 50%;
    height: 400px;
    margin-bottom: 20px;
    padding: 10px;
  }
}

@media screen and (min-width: 960px) and (max-width: 1264px) {
  .allChat {
    margin: 10px;
  }

  .boxSearchChat {
    width: 50%;
    height: 400px;
    margin-bottom: 20px;
    padding: 10px;
    margin-right: 30px;
  }
}